@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    background: #aaa;
    color: #333;
    /* was given as a freebie */
    display: flex; /* this container has 1 flex item of modal */
    align-items: center;
    justify-content: center;
}

.modal { /* is a flex item of body and is also its own flex container */
    background: white;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
    display: flex; /* this container has two flex items of modal-1 and modal-2. modal-1 is the row format 
                     and modal-2 is the column format. */
    /*flex-wrap: wrap; */ /*unncessary here. needed at the modal-2 b/c that flex item needs to be in a column */
    padding: 15px;
    column-gap: 15px;

    /* solution shows display, padding and gap. mine is very close */
}

.modal-1 { /* is a flex item of modal and is also its own flex container */
    display: flex; /* this container has 1 flex item which is the icon */
    flex: none; /* this will keep the icon from resizing, it will stay the assigned width/height */
    align-items: flex-start;
    justify-content: center;
    
    /* solution shows flex-shrink: 0 on the .icon area instead of flex: none on my .modal-1. 
    mine still matched the end result */
}

.icon { /* is a flex item of modal-1 */
    color: royalblue;
    font-size: 26px;
    font-weight: 700;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    /* was given as a freebie */
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    /* was given as a freebie */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-2 {
    display: flex; /* this container has 3 flex items of header-close-button, text, and modal-3 */
    flex-direction: column; /* the 3 flex items will show as columns, but the header text and close button 
    need to be showing as a row. same with the two bottom buttons. that is why there are two more declarations below */ 
    flex-wrap: wrap;
    row-gap: 15px;
}

.header-close-button { /* to make the header and close button to show as a row inside the column format */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;

    /*solution shows display, align-items, justify-content, font-size, font-weight, margin-bottom. mine is missing 
    margin-bottom. also theirs is on a .header which is a container for the header and close button. mine is inside a
    column container. they didn't use any column container. seems all their containers are the default row. seems mine 
    still matches their end result but mine is using too many extra things */ 
}

.modal-3 { /* to make the bottom buttons to show as a row inside the column format*/
    display: flex;
    column-gap: 5px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

button.cancel {
    background: white;
    border: 1px solid #ddd;
    color: royalblue;
}