@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0px;
    /* overflow: hidden; leave out for now b/c it takes away scroll bar and can't see all the content */
    font-family: Roboto, sans-serif;

    /* solution has display: flex and flex-direction: column here. leave mine alone b/c it looks very close to the 
    solution. */
}

/* this is a good template for a landing page */
/* see 02-flex-header solution for how to style left and right links to be on the top of a page spaced out to the left 
and right side */

.header {  /* header/footer flex container has the left and right links as flex items */
    display: flex;
    justify-content: space-between;
    padding: 15px;

/* mine matches the solution except they use 16px */
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #eeeeee;
    padding: 15px;

    /* mine matches the solution except they use 16px */
}

.left-links,
.right-links {  /* the left and right links are the flex items of header/footer container. need another flex rule here or 
    else the links will be vertical and not horizontal */
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    list-style-type: none; /* removes bullet points */

    /* the solution uses ul instead of the class name. mine matches the display, gap and list style. mine has justify-content 
    but the solutions does not. */
}

a {
    text-decoration: none; /* removes the underline */
    /* mine is missing color: #666 */
}

.content {  /* this puts the image, search bar and buttons in the center of the page */
    display: flex;
    flex-direction: column;  /* needs column or else the center of the page will show items in a row */
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;

    /* mine matches the solution except mine is missing flex: 1. also mine has margin-bottom but the solution does not.
    leave mine alone b/c it looks very close to the solution */
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px;
    margin: 8px;

    /* solution has padding as 8 and 16px */
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin: 25px;
}